<p>
  Assets:
  <% unless @hash.empty? %>
  <ul>
  <% @hash.each_pair do |asset,urls| %>
  <li><%= asset %>: <% urls.each do |url| %><%= "<span><a href=\"#{ShortUrl.full_url(url)}\">#{url}</a></span>".html_safe %><% end %></li>
  <% end %>
  </ul>
  <% end %>
</p>
